<?xml version="1.0" encoding="utf-8"?>
<!-- TEMPLATE: nuget.config | Skill: nugets-management | Version: 3.1.0 -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Feed privado de la organizacion (descomentar si aplica) -->
    <!-- <add key="Internal" value="https://pkgs.dev.azure.com/myorg/_packaging/feed/nuget/v3/index.json" /> -->
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!-- <packageSource key="Internal">
      <package pattern="MyCompany.*" />
    </packageSource> -->
  </packageSourceMapping>
</configuration>
