// TEMPLATE: QueryHandler | Skill: generador-crud | Version: 3.1.0
// CQRS Query Handler with projection using Mediator
// Placeholders: {{EntityName}}, {{ProjectNamespace}}

using Mediator;
using Microsoft.EntityFrameworkCore;

namespace {{ProjectNamespace}}.Application.{{EntityName}}.Queries;

public sealed class Get{{EntityName}}ByIdQueryHandler
    : IQueryHandler<Get{{EntityName}}ByIdQuery, {{EntityName}}Dto?>
{
    private readonly IReadOnly{{EntityName}}Repository _repository;

    public Get{{EntityName}}ByIdQueryHandler(IReadOnly{{EntityName}}Repository repository)
        => _repository = repository;

    public async ValueTask<{{EntityName}}Dto?> Handle(
        Get{{EntityName}}ByIdQuery query, CancellationToken ct)
    {
        var entity = await _repository.GetByIdAsync(query.Id, ct);
        return entity?.ToDto();
    }
}

public sealed class GetAll{{EntityName}}QueryHandler
    : IQueryHandler<GetAll{{EntityName}}Query, PaginatedList<{{EntityName}}Dto>>
{
    private readonly IReadOnly{{EntityName}}Repository _repository;

    public GetAll{{EntityName}}QueryHandler(IReadOnly{{EntityName}}Repository repository)
        => _repository = repository;

    public async ValueTask<PaginatedList<{{EntityName}}Dto>> Handle(
        GetAll{{EntityName}}Query query, CancellationToken ct)
    {
        var queryable = _repository.AsQueryable();

        if (!string.IsNullOrWhiteSpace(query.Search))
            queryable = queryable.Where(e =>
                e.Name.Contains(query.Search));

        var totalItems = await queryable.CountAsync(ct);

        queryable = query.OrderBy?.ToLowerInvariant() switch
        {
            "name" => query.Descending
                ? queryable.OrderByDescending(e => e.Name)
                : queryable.OrderBy(e => e.Name),
            _ => queryable.OrderBy(e => e.Id)
        };

        var items = await queryable
            .Skip((query.PageNumber - 1) * query.PageSize)
            .Take(query.PageSize)
            .Select(e => e.ToDto())
            .ToListAsync(ct);

        return new PaginatedList<{{EntityName}}Dto>(
            items, totalItems, query.PageNumber, query.PageSize);
    }
}
