// TEMPLATE: FakeBuilder | Skill: testing-patterns | Version: 3.1.0
// Generic builder with Bogus for test data
// Placeholders: {{EntityName}}, {{ProjectNamespace}}

using Bogus;

namespace {{ProjectNamespace}}.Tests.Builders;

public class FakeBuilder<T> where T : class
{
    protected readonly Faker<T> Faker;

    public FakeBuilder(Faker<T> faker)
    {
        Faker = faker;
        Faker.UseSeed(42);
    }

    public T Build() => Faker.Generate();
    public List<T> BuildMany(int count = 5) => Faker.Generate(count);
}

// EJEMPLO de builder concreto:
// public class ScholarshipBuilder : FakeBuilder<Scholarship>
// {
//     public ScholarshipBuilder() : base(new Faker<Scholarship>("es")
//         .RuleFor(b => b.Id, f => f.IndexFaker + 1)
//         .RuleFor(b => b.Name, f => f.Commerce.ProductName())
//         .RuleFor(b => b.Amount, f => f.Finance.Amount(500, 15000)))
//     { }
//     public ScholarshipBuilder ConNombre(string name)
//     { Faker.RuleFor(b => b.Name, name); return this; }
// }
// var scholarship = new ScholarshipBuilder().ConNombre("Excelencia").Build();
